body{
    font-family: 'Noto Sans', sans-serif;
    color: rgb(20, 20, 18);
}
p{
    text-align: justify;
}

h1{
    font-size: 60px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    color: dimgray;
}

h2{
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    color: dimgray;
}

h3{
    font-size: 40px;
    font-weight: 700px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(41, 39, 39);
}

.introduction{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 150px;
}

.diff-Color-heading{
    color: orangered;
}

.link-button{
    background-origin: 10px;
    color: white;
    background-image: linear-gradient(to Right, blue,cyan);
    font-weight: 700;
    font-size: larger;
    text-decoration: none;
    border-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;  
}

.half-width-intro{
    width: 50%;
    margin-top: 10px;
}
.half-width-intro img{
    width: 95%;
}

.bg-about-me {
    background-image: url(images/about-me-bg.png);
    background-repeat: no-repeat;
    margin: 0;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 100px;
}

.half-width-about-me{
    width : 50%
}
.half-width-about-me img{
    width: 65%;
}

.my-recipie-intro{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0;
    margin-bottom: 20px;
}

.my-recipie{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10px;
}

.recipie-item{
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 20px;
    box-shadow: 3px 3px 20px grey;
    border-radius: 20px;
}

.conclusion{
    display: flex;
    width: 90%;
    margin-top: 150px;
    margin-left: 70px  ;
    padding-top: 25px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 20px grey;
    border-radius: 20px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.half-width-conclusion{
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.half-width-conclusion img{
    width: 100%;
    border-radius: 20px;
}

footer{
    background-color: Black;
    color: white;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top: 150px;
}

footer p{
    text-align: center;
}
